[submodule "aflnet"]
	path = aflnet
	url = git@github.com:ItsMagick/aflnet.git
[submodule "mosquitto_fuzz_benchmark"]
	path = mosquitto_fuzz_benchmark
	url = git@github.com:ItsMagick/mosquitto_fuzz_benchmark.git
[submodule "pulsar"]
	path = pulsar
	url = git@github.com:ItsMagick/pulsar.git
