### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


traffic/*
binaries/*

*.pcap

!**/.gitkeep
out2
venv
aflnet_in
dump/*.png
mqtt_aflnet_stdout.log
*.so
__pycache__
boo-fuzzer-mqtt/boofuzz-results
*.log
pid_file.txt
gdb_commands.txt
mosquitto_ready.signal
boofuzz-results_normal
boo-fuzzer-mqtt-efficient/boofuzz-results